
@{
    
    int uid = (int)TempData["uid"];
}

<html>
    <meta>
    <head>

    </head>
    <body>
        <h1><u>Welcome To Child Page </u></h1><br><br>
       
        <a href="/home/ChildStatus?chid=@uid"><button type="submit" name="btn" id="btn">Child Status</button></a>
    </body>
</html>