@{
    ViewData["Title"] = "Home Page";
}
<body>
@{
    var admin="admin";
    var child="child";
}

<div align="left">
     Admin Login : <a href="/Home/LoginAdmin?role=@admin"><button type="submit" name="btn" id="btn" >LOGIN</button></a>
</div><emsp/>

<div align="right">
     Child Login : <a href="/Home/LoginChild?role1=@child"><button type="submit" name="btn1" id="btn1">LOGIN</button></a>
</div>

 




    <div class="text-center">
    <h1 class="display-4">Welcome<br/>To</h1>
    <p><i><u><h4>UMMEED<br/>

    </h4></u></i></p>
</div>
    <table border="6"><tr><th>
    <a href="/home/Registration"><pre>
        Info About Registration
        how to get Register
  
    </pre></a>
        </th><tr></table><emsp/>
        <table border="6"><tr><th>
    <a href="/home/Registration"><pre>
        Info About Registration
        how to get Register as
        Be My Friend.....
  
    </pre></a>
        </th><tr></table><ensp/>
        <table border="6"><tr><th>
    <a href="/home/Donation"><pre>
        Info About Donation
        Donate for Children
        future to be great..
  
    </pre></a>
        </th><tr></table><br><br>

</body>
